body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: grey;
}

.text-container {
    font-size: 40px;
    font-weight: bolder;
}

.time-container {
    padding: 25px;
    display: flex;
    justify-content: center;
    border: 1px solid #cccccc;
    margin: 20px;
    font-size: 30px;
    border-radius: 25px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn.start {
    margin: 10px;
    background-color: green;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.btn.reset {
    margin: 10px;
    background-color: orange;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 10px;

}
.btn.stop {
    margin: 10px;
    background-color: red;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 10px;

}

.btn:hover {
    color: white;
    border: 1px solid white;
}
